{% extends 'menu.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header class="bg-info py-2 mb-5">
    <div class="container h-70">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Introduction</h1>
        </div>
      </div>
    </div>
  </header>

<!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <p>Suite à la rédaction de l’ouvrage Le piano avec professeur, le chapitre
            concernant la lecture à vue s’est avéré primordial dans mon approche de la musique
            et de l’enseignement. Pour le présent ouvrage, j’ai écrit une série de petites pièces
            conçues spécialement pour la lecture à vue au piano. Les instructions qui précèdent
            ces compositions ajoutent à la préparation de l’exercice. Bonne lecture!</p>
        <h2>La lecture et le jeu pianistique : deux disciplines distinctes</h2>
        <p>J’ai longtemps vu des professeurs insister pour qu’un élève apprenne à lire
                les notes de la partition, dans le but d’apprendre à jouer du piano. Cette école de
                pensée affirme donc que seuls les bons lecteurs peuvent jouer de la grande musique.
                Heureusement, le jazz et sa révolution nous ont prouvé le contraire. Effectivement,
                de grands musiciens – qui à l’apparition de cet art, ne savaient pas lire les partitions
                musicales – ont marqué l’histoire. En observant les jazzmen d’aujourd’hui, on peut
                constater que ces musiciens ont compris que la connaissance approfondie de leur
                instrument peut rendre aisé l’apprentissage de la lecture musicale. La partition
                doit servir de point de repère visuel; aussi, le professeur doit garder en tête que
                les symboles de la partition sont abstraits pour le débutant. Pour l’instrument
                qui nous intéresse, le clavier est encore plus mêlant à utiliser pour déchiffrer la
                partition. Cette dernière est abstraite, mais logique; la musique qu’on y déchiffre
                est concrète et affecte les sens, jusqu’à toucher l’âme. Il faut dorénavant distinguer
                les concepts de musique et de lecture; cela pour rester lucide face à ces différentes
                pratiques.</p>
        <h2>Musiciens de tous instruments de musique</h2>
        <p>Comme on finit toujours par apprendre les bases au piano, la présente
            méthode est une approche facile pour tous musiciens. On peut aussi trouver de
            bons exercices dans mon ouvrage Le piano avec professeur.</p>
        <h2>La composition</h2>
        <p>Un jour ou l’autre, le compositeur se demande s’il doit composer pour lui,
            pour les musiciens ou pour le public. Lorsqu’il se concentre sur le jeu instrumental,
            le compositeur permet au musicien de mieux interpréter la musique avec son
            instrument.</p>
        <p>Je crois qu’une des bonnes approches de la composition instrumentale est
            de débuter par enrichir le répertoire de déchiffrage. Les morceaux semblent faciles
            à écrire, mais il faut porter une attention particulière à garder l’intérêt musical et
            l’attention technique du lecteur.</p>
        <p>Vous pourrez noter que j’utilise le pseudonyme Iv dans le contexte de la
            création musicale.</p>
        <h2>Amélioration continue</h2>
        <p>Les détails décrits ici servent surtout à l’écriture d’un répertoire conçu pour
            cette discipline. N’hésitez pas à me faire parvenir vos compositions pour améliorer
            l’enseignement de la lecture à vue.</p>
        <p>Cet ouvrage constitue le début d’un long chantier qui trouvera certainement
           plusieurs adeptes dans toutes les sphères de l’apprentissage musical. Professeurs,
           faites composer de nouvelles œuvres à vos élèves et tentez de déterminer le niveau
           auquel ces nouvelles compositions se prêtent. Faisons progresser cet art qui prend
           un nouvel essor.</p>
         </div>
    </div>
  </div>
  <!-- /.container -->



{% endblock %}