{% extends 'menu.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header class="bg-info py-2 mb-5">
  <div class="container h-70">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-3 mb-2">Méthode</h1>
      </div>
    </div>
  </div>
</header>
<div class="container" data-spy="scroll" data-target="#scroll-spie" data-offset="1">
  <!-- Sudebar menu -->
  <div class="container-fluid">
  <div class="row">
  <nav id="nbMethod" class="navbar navbar-light bg-light col-sm-3 col-4" id="scroll-spie">
    <a class="navbar-brand" href="#">Méthode</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#top">Étapes de l’exercice</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#Premieres">Premières observations</a>
        <a class="nav-link ml-3 my-1" href="#Preparation">Préparation générale et premiers détails</a>
        <a class="nav-link ml-3 my-1" href="#Enfin">Enfin, la lecture</a>
      </nav>
      <a class="nav-link" href="#Methodegammes">Gammes pour la lecture</a>
      <a class="nav-link" href="#Exercicesp">Exercices préparatoires</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#Exercicesp">Révision des notes</a>
        <a class="nav-link ml-3 my-1" href="#Jouersrc">Jouer sans regarder le clavier</a>
        <a class="nav-link ml-3 my-1" href="#Coefff">Le coefficient</a>
      </nav>
      <a class="nav-link" href="#Niveaup">Les niveaux</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#Niveaud">Détails</a>
        <a class="nav-link ml-3 my-1" href="#Niveauplu">Niveaux plus avancés</a>
      </nav>
    </nav>
  </nav>

<!--div data-spy="scroll" data-target="#nbMethod" data-offset="0">
  <h4 id="top">Étapes de l’exercice</h4>
  <p>...</p>
  <h5 id="Premieres">Premieres observations</h5>
  <p>...</p>
  <h5 id="Preparation">Préparation générale et premiers détails</h5>
  <p>...</p>
  <h5 id="Enfin">Enfin, la lecture</h5>
  <p>...</p>
  <h4 id="Methodegammes">Gammes pour la lecture</h5>
  <p>...</p>
  <h4 id="Exercicesp">Exercices préparatoires</h5>
  <p>...</p>
  <h5 id="Exercicesp">Révision des notes</h5>
  <p>...</p>
  <h5 id="Jouersrc">Jouer sans regarder le clavier</h5>
  <p>...</p>
  <h5 id="Coefff">Le coefficient</h5>
  <p>...</p>
  <h4 id="Niveaup">Les niveaux</h5>
  <p>...</p>
  <h5 id="Niveaud">Détails</h5>
  <p>...</p>
  <h5 id="Niveauplu">Niveaux plus avancés</h5>
  <p></p>
</div-->
<!-- Page Content -->
    <div class="col-md-9 mb-5" id="top">
        <!--hr-->
        <p>La discipline de la lecture à vue est accessible à tous les musiciens, selon une
            marche à suivre précise. Le professeur doit aider l’élève à réviser certains détails
            importants de la partition.</p>
        <p id="Premieres">Premières observations</p>
        <ul>
            <li>Les clefs respectives des deux portées.</li>
            <li>Les altérations (même si tout est bécarre).</li>
            <li>Le nombre de temps par mesure : le professeur doit accompagner son élève
                dans sa démarche pour compter intérieurement. Pour certains, cet exercice
                semblera naturel.</li>
        </ul>
        <p id="Preparation">Préparation générale et premiers détails</p>
        <ul>
            <li>Compter la mesure en imitant le mouvement des mains qui jouent la pièce.
                Il ne faut nullement appuyer sur les touches à cette étape, car cela est interdit
                selon un contexte pédagogique. De la part du professeur, des gestes aériens
                et grossiers imitant le mouvement montant et descendant sont appropriés.</br>
                Repérer la première note de chaque main.</li>
            <li>Repérer les passages disjoints et les passages obliques; ceux-ci portent à
                confusion parce qu’on doit relâcher une note pour la rejouer.</li>
            <li>Imaginer que l’on joue le morceau, ceci peut se faire aussi en effleurant les
                touches des doigts, sans les enfoncer. Cette projection mentale permet une
                bonne adaptation physique pour tous les aspects de la lecture.</li>
            <li>Attendre d’être prêt avant de commencer à jouer. La lecture se passe
                primordialement dans la conscience du musicien. Donnez-vous le temps
                nécessaire pour savoir ce que vous faites.</li>
        </ul>
        <p id="Enfin">Enfin, la lecture</p>
        <ul><li>En jouant, l’élève doit éviter de s’arrêter.</li></ul>
        <p>Le professeur peut rester tolérant lors des premières leçons de lecture à vue,
            car l’élève se sentira frustré de ne pas pouvoir rejouer une note qu’il a manquée.
            On remarque que les débutants, surtout les enfants, sont portés à toujours
            recommencer un exercice à partir du début. En lecture à vue, le professeur pourra
            tolérer de recommencer une courte section, selon un jugement calculé. Cet exercice
            se pratique pendant le cours. La lecture à vue est un exercice qui se déroule au
            moment de la leçon pour les élèves ayant moins de six mois d’expérience.</p>
        <p>À partir du niveau 3, la préparation à la lecture à vue sera complétée en 15 
            secondes.</p>
    </div>
    <!--/div--><hr>
    <!-- /.row -->
  <!--/div-->
  <div class="container">
    <div class="row" id="Methodegammes">
      <div class="col-md-8 mb-5">
        <h2>Les gammes en intervalles, les gammes pour la lecture</h2>
        
        <p>Une fois que l’élève a atteint le niveau six, la lecture des gammes devient
            l’outil parfait pour apprivoiser le clavier. Prenez quelques minutes pour réviser les
            exercices de gammes selon l’armature du morceau à lire. Ces exercices sont conçus
            pour la préparation au déchiffrage. Les exercices d’intervalles de base, plaqués et
            brisés familiariseront le pianiste au rapport entre la partition et les touches du
            clavier. Le plus important est de garder son attention sur la partition. 
            </p>
        <p>Pour pratiquer la lecture dans différentes tonalités, l’exercice d’intervalles
            écrits permet de toucher la plupart des harmonies à deux sons. En lisant la partition
            de l’exercice d’intervalles dans la tonalité choisie, le pianiste associe mieux les
            touches correspondant aux notes pour le morceau à lire. L’élève doit constamment
            regarder la partition.</p>
            <p><strong>Important</strong> : les tonalités enharmoniques ne sont pas toutes représentées
                dans cet ouvrage. Seules les tonalités les plus pertinentes y sont écrites.</p>
                <p>La totalité des armatures n’est pas non plus représentée dans les morceaux
                    de l’ouvrage. Ce paramètre n’est qu’un des nombreux aspects que les étudiants
                    doivent explorer en lecture par déchiffrage. On peut aussi se servir de ces exercices
                    en improvisation musicale.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <header class="bg-info py-2 mb-5">
          <div class="container h-70">
            <div class="row h-100 align-items-center">
              <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2" id="Exercicesp">Exercices préparatoires</h1>
              </div>
            </div>
          </div>
        </header>
        <h2>Révision des notes</h2>
       
        <p>Ce sont des exercices sans partition. Ils permettent aux débutants au piano
            de mémoriser les notes du clavier</p>
            <h2 id="JouerS">Jouer sans regarder le clavier</h2>
        <p>Ceci constitue une autre façon de réveiller les sens. On se sert visuellement
          de la disposition des touches noires pour identifier les notes des touches blanches.
          Aussi il est utile de trouver les notes, les yeux fermés en tapotant les touches jusqu’à
          ce qu’on arrive sur la note désirée, du bout des doigts.</p>
          <h2 id="Coefff">Le coefficient</h2>
      
        <p>Ce sont des exercices sans partition. Ils permettent aux débutants au piano
            de mémoriser les notes du clavier</p>
            <h2 id="JouerS">Jouer sans regarder le clavier</h2>
        <p>Le type d’exercice lu selon les différents niveaux de coefficient suivra une
          échelle de difficulté précise.</p>
        <p>Pour une première étape, les exercices proposent une lecture exécutée à
          mains séparées. Aussi, on peut facilement lire une mélodie identique pour les deux
          mains. Il est alors préférable de choisir un exercice court comportant plusieurs
          répétitions, car l’élève cherche un point de repère. Aussi, un caractère grand format
          aidera le lecteur débutant. De plus, il faut s’assurer que la position corporelle soit
            toujours appropriée.</p>
        <p>Pour une seconde étape, la main gauche peut lire des rondes répétées,
          simultanément avec une main droite qui fait un rythme répétitif. L’étudiant
          aura du succès avec une lecture qui permet de se concentrer uniquement sur les
          hauteurs. </p>
        <p>Pour une troisième étape, la pièce choisie sera un peu plus complexe. Le
          professeur devra sélectionner l’élément de difficulté préférable à étudier avec
          son élève. On restera plusieurs semaines avec les rythmes de noires, de blanches
          et de rondes pour établir une bonne compréhension de la mesure simple. Les
          mouvements conjoints sont à la base des premières lectures; un mouvement
          disjoint est bienvenu lorsqu’il ramène à une note importante déjà vue. Il est aussi
          important d’étudier les nuances très tôt. Les variation d’amplitudes écrites de plus
          en plus fort, selon des indications allant de p (doux) à f (fort) ou selon l’indication
          crescendo sont plus recommandés au début. Il est plus naturel d’augmenter en
          énergie et de jouer de plus en plus fort, que de jouer à l’inverse decrescendo.</p>
        <p>Du point de vue harmonique ‒ ou vertical ‒, pour nommer les notes d’un
          accord, il est plus clair de les réciter dans l’ordre du bas vers le haut. Cela va aussi
          pour les doigtés qui utiliseront les notes graves ou aiguës, selon leur position dans
          la main.</p>
            <hr>
            <header class="bg-info py-2 mb-5">
              <div class="container h-70">
                <div class="row h-100 align-items-center">
                  <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2" id="Niveauxp">Les niveaux au piano</h1>
                  </div>
                </div>
              </div>
            </header>
            <p>Les détails décrits ici servent surtout à l’écriture de répertoire pour cette
              discipline. N’hésitez pas à nous faire parvenir vos compositions pour améliorer
              l’enseignement de la lecture à vue.
            </p>
            <ul>
              <li>Révision des notes</li>
              <li>Jouer sans regarder le clavier</li>
              <li>Lecture rythmique 1
                <ul>
                  <li>Toujours la même note</li>
                  <li>Mains séparées ou ensemble</li>
                  <li>Seul le rythme varie, une seule note pour chaque main</li>
                  <li>Permet d’approcher la partition avec facilité</li>
                </ul>
              </li>
              <li>Lecture mélodique 1
                <ul>
                  <li>Une seule figure de note par morceau</li>
                  <li>Permet de lire les mouvements mélodiques avec facilité</li>
                </ul>
              </li>
              <li>Niveau 1
                <ul>
                  <li>Une main seulement</li>
                  <li>Mouvements conjoints, ou disjoints pour les répétitions</li>
                  <li>Notes répétées selon mesure répétitive</li>
                  <li>Rythmes noires, blanches, rondes sans valeurs pointées</li>
                  <li>Silences pour compléter mesures à 3 temps</li>
                  <li>Aucune altération</li>
                </ul>
              </li>
              <li>Niveau 2
                <ul>
                  <li>Changement de portée (de ligne)</li>
                  <li>Une main à la fois</li>
                  <li>Mains ensemble, selon partition simple</li>
                  <li>Une seule nuance</li>
                  <li>Indication de tempo</li>
                  <li>Valeurs pointées selon mesure à 3 temps</li>
                  <li>Introduction aux mouvements disjoints</li>
                </ul>
              </li>
              <li>Niveau 4
                <ul>
                  <li>Altération accidentelle unique ou répétée</li>
                  <li>Nuances multiples (de préférence croissante)</li>
                  <li>Notes qui dépassent la portée</li>
                  <li>Accents</li>
                  <li>Indications de phrasé par indications littéraires</li>
                  <li>Morceau plus longs</li>
                  <li>Densité de deux notes pour une main</li>
                </ul>
              </li>
              <li>Niveau 5
                <ul>
                  <li>Intervalles plus larges</li>
                  <li>Mélodies complexes et rapides</li>
                  <li>Deux altérations à l’armature</li>
                </ul>
              </li>
              <li>Niveau 6
                <ul>
                  <li>Style contrapuntique complexe</li>
                  <li>Trois ou quatre altérations à l’armature</li>
                  <li>Harmonies à deux voies répétitives, pour une main</li>
                </ul>
              </li>
              <li>Niveau 7
                <ul>
                  <li>Jeux mélodiques complexes, répétitifs</li>
                  <li>Liaisons rythmiques</li>
                  <li>Notes très aiguës ou graves (8va)</li>
                  <li>Mouvements disjoints miroir (selon points de repère)</li>
                  <li>Longs silences</li>
                </ul>
              </li>
              <li>Niveau 8
                <ul>
                  <li>Altérations accidentelles, multiples, mais avec bons points de repère</li>
                  <li>Tempo plus rapide</li>
                </ul>
              </li>
              <li>Niveau 9
                <ul>
                  <li>Clef de sol main gauche</li>
                  <li>Triolet de croches</li>
                  <li>Accords à trois sons (triades)</li>
                </ul>
              </li>
              <li>Niveau 10
                <ul>
                  <li>Changement de clef momentané</li>
                  <li>Surprises musicales</li>
                </ul>
              </li>
          </ul>
          <h2 id="Niveauplu">Niveaux plus avancés</h2>
          <p>Les morceaux seront choisis selon un niveau technique un peu inférieur à ce
            que l’élève peut exécuter au cours de son étude.
            Le professeur est habilité à trouver le moreau idéal pour l’exercice de déchiffrage.
            Il se fiera à ce qu’il connaît de son élève pour choisir la partition qui lui semble
            convenir à la lecture à vue.</p>
          <p>L’étudiant devra plus tard apprendre à reconnaître son propre niveau de
            difficulté. C’est à cette étape qu’on peut dire à l’élève de lire le plus possible de
            musique. La discipline devient alors un plaisir, celle de découvrir la musique de
            tous les compositeurs. Ceci permet de développer une panoplie de qualités qu’on
            retrouve chez les musiciens professionnels et les concertistes.</p>    
          </div>
    </div>

    <header class="bg-info py-2 mb-5">
      <div class="container h-70">
        <div class="row h-100 align-items-center">
          <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2" id="Exercicesp">Révision des notes</h1>
       
          </div>
        </div>
      </div>
    </header>
    <p>L’élève doit trouver les notes suivantes, directement sans compter à partir
      de la note do.
    </p>
    <p>Refaites cet exercice plusieurs fois par semaine, jusqu’à ce que vous trouviez facilement les notes au clavier.
    </p>
    <ul style="list-style: none;">
      <li>Jouez la note &nbsp<strong>la</strong></li>
      <li>Jouez la note &nbsp<strong>mi</strong></li>
      <li>Jouez toutes les note &nbsp<strong>sol</strong> &nbsp du clavier</li>
      <li>Jouez toutes les note &nbsp<strong>ré</strong> &nbsp du clavier</li>
      <li>Jouez la note &nbsp<strong>fa</strong> &nbsp la plus aigue du clavier</li>
      <li>Jouez la note &nbsp<strong>si</strong> &nbsp la plus grave du clavier</li>
    </ul>
    <!-- /.row -->
 
  <header class="bg-info py-2 mb-5">
    <div class="container h-70">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2" id="Jouersrc">Jouer sans regarder le clavier</h1>
        </div>
      </div>
    </div>
  </header>
  <p>De la main gauche, en plaçant le premier doigt devant la note si, les
    autres doigts se placent naturellement sur les 4 touches suivantes à gauche. Après
    avoir pris cette position avec les doigts au piano, fermez les yeux (ou le professeur
    peut cacher votre main pour ne pas voir le clavier).</p>
  <ul style="list-style: none;">
    <li>Jouez la note &nbsp<strong>la</strong></li>
    <li>Jouez la note &nbsp<strong>mi</strong></li>
    <li>Jouez la note &nbsp<strong>sol</strong></li>
    <li>Jouez la note &nbsp<strong>fa</strong></li>
    <li>Jouez la note &nbsp<strong>si</strong></li>
  </ul>
  <p>De la main droite, on place le premier doigt devant la note sol, les autres
    doigts se placent naturellement sur les 4 touches suivantes à droite. Toujours en
    fermant les yeux.</p>
    <ul style="list-style: none;">
      <li>Jouez la note &nbsp<strong>la</strong></li>
      <li>Jouez la note &nbsp<strong>do</strong></li>
      <li>Jouez la note &nbsp<strong>ré</strong></li>
      <li>Jouez la note &nbsp<strong>sol</strong></li>
      <li>Jouez la note &nbsp<strong>si</strong></li>
  </ul>
  <p>Lorsqu’on cherche une note qui n’a pas d’altération, on se sert des
    touches noires pour trouver la touche blanche voulue.
    Sans regarder, en effleurant les notes sans les jouer, on peut trouver la note qu’on
    cherche. Il est essentiel de prendre le temps nécessaire et d’éviter de se tromper.</p>
  <p>Exercice:</p>
  <p>Fermez les yeux et jouez la note &nbsp<strong>do</strong></p>
  <p>Gardez les yeux fermés et jouez la note &nbsp<strong>fa</strong></p>
  <p>Ainsi de suite :</p>
  <pre>&nbsp<strong>mi</strong></pre>
  <pre>&nbsp<strong>si</strong></pre>
  <pre>&nbsp<strong>sol</strong></pre>
  <pre>&nbsp<strong>ré</strong></pre>
  <pre>&nbsp<strong>la</strong></pre>
</div>
</div>
</div>
</div>

  {% endblock %}