{% extends 'menu.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header class="bg-info py-2 mb-5">
    <div class="container h-70">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Petite explication sur les exercices préparatoires</h1>

        </div>
      </div>
    </div>
  </header>
<!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Révision des notes</h2>
       
        <p>Ce sont des exercices sans partition. Ils permettent aux débutants au piano
            de mémoriser les notes du clavier.</p>
      </div>      
    </div>
    <!-- /.row -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Jouer sans regarder le clavier</h2>
        <p>Ceci constitue une autre façon de réveiller les sens. On se sert visuellement
            de la disposition des touches noires pour identifier les notes des touches blanches.
            Aussi il est utile de trouver les notes, les yeux fermés en tapotant les touches jusqu’à
            ce qu’on arrive sur la note désirée, du bout des doigts.</p>
      </div>      
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Le coefficient</h2>
        <p>Le type d’exercice lu selon les différents niveaux de coefficient suivra une
            échelle de difficulté précise. </p>
        <p>Pour une première étape, les exercices proposent une lecture exécutée à
            mains séparées. Aussi, on peut facilement lire une mélodie identique pour les deux
            mains. Il est alors préférable de choisir un exercice court comportant plusieurs
            répétitions, car l’élève cherche un point de repère. Aussi, un caractère grand format
            aidera le lecteur débutant. De plus, il faut s’assurer que la position corporelle soit
            toujours appropriée.</p>
        <p>Pour une seconde étape, la main gauche peut lire des rondes répétées,
            simultanément avec une main droite qui fait un rythme répétitif. L’étudiant
            aura du succès avec une lecture qui permet de se concentrer uniquement sur les
            hauteurs.</p>
        <p>Pour une troisième étape, la pièce choisie sera un peu plus complexe. Le
            professeur devra sélectionner l’élément de difficulté préférable à étudier avec
            son élève. On restera plusieurs semaines avec les rythmes de noires, de blanches
            et de rondes pour établir une bonne compréhension de la mesure simple. Les
            mouvements conjoints sont à la base des premières lectures; un mouvement
            disjoint est bienvenu lorsqu’il ramène à une note importante déjà vue. Il est aussi
            important d’étudier les nuances très tôt. Les variation d’amplitudes écrites de plus
            en plus fort, selon des indications allant de p (doux) à f (fort) ou selon l’indication
            crescendo sont plus recommandés au début. Il est plus naturel d’augmenter en
            énergie et de jouer de plus en plus fort, que de jouer à l’inverse decrescendo.</p>
        <p>Du point de vue harmonique ‒ ou vertical ‒, pour nommer les notes d’un
            accord, il est plus clair de les réciter dans l’ordre du bas vers le haut. Cela va aussi
            pour les doigtés qui utiliseront les notes graves ou aiguës, selon leur position dans
            la main.</p>
        </div>      
    </div>
  </div>
  
{% endblock %}