{% extends "menu.html" %}
{% load static %}

{% block content %}
<div class="row">

  <div class="col-md-8 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'djaLMAP/partitions/LecturePAP1-page-001.jpg' %}" alt="">
        <div class="card-body">
          <h4 class="card-title">Lecture niveau 1</h4>
          <p class="card-text">Intervalles simples.</br>Rythme simple.</br>
            Doigtés simples.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
    </div>
     
  </div>
  <!-- /.row -->
{% endblock %}