{% extends "menu.html" %}
{% load static %}

{% block content %}
<div class="row">

  <div class="col-md-8 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{% static 'djaLMAP\partitions\LecturePAP8N3-page-001.jpg' %}" ></img>
        
        <div class="card-body">
          <h4 class="card-title">Lecture niveau 3</h4>
          <p class="card-text">Tessiture élargie</br>Accents.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
    </div>
     
  </div>
  <!-- /.row -->
{% endblock %}